    body {
        background-color:white

    }

    pre {
        font-size: 40px;
        font-family: Tahoma;
    }
    .mainpage {
    align-items: center;
    text-align: center;


    }
    .aa,.bb,.cc,.dd,.ee,.ff {
        background-color:aquamarine;
        height:100px;
        width:100px;
        margin-left: 650px;
        margin-bottom: 40px;
        margin-top: 20px;
        border-top:1px solid black;
        
    }
    .ff {
        background-color: yellow;
        border:4px solid black;
    }